langchain
langgraph
langchain-openai
langchain-groq
langchain-community
langchain-tavily
langchain-google-community

fpdf
config
httpx
requests
fastapi
uvicorn
jinja2
pydantic
streamlit
python-dotenv
langchain-google-community[places]



-e .